body {
  background-color: var(--color-cream);
  color: var(--color-charcoal);
}

button {
  background-color: var(--color-cream-light);
  color: var(--color-charcoal);
  border: 1px solid var(--color-violet-light);
}

button:hover {
  background-color: var(--color-violet-dark);
}

